/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image:url(images/landscape.jpg);
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333333;
    color: rgb(25, 214, 97);
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(24, 218, 40);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

ul li a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
